/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

// Definitions:
$bg-color:		#1e1e1e;
$text-color:	#eee;
$pager-bg: #f8d650;

html {
	background: $bg-color;
	color: $text-color;
	font-family: sans-serif;
	font-size: 12px;

	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

nav {
	position: absolute;
	width: 100%;
	height: 40px;
	bottom: 0;
	background: $pager-bg;
}