/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/typography";

$base-font-size: 14px;
$base-line-height: 30px;

@include establish-baseline();

// Definitions:
$bg-color:		#1e1e1e;
$text-color:	#eee;
$pager-bg: 		#f8d650;
$pager-txt:		#000;
$link-color:	#f8d650;

html {
	background: $bg-color;
	color: $text-color;
	font-family: sans-serif;

	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

#info {
	position: absolute;
	top: 30px;
	right: 0;
	width: 400px;
	padding: 30px;
	background: rgba(0, 0, 0, .2);
	text-shadow: 1px 1px 1px #000;
	h1 {
		@include adjust-font-size-to(48px);
		margin-bottom: 14px;
	}
	h2 {
		@include adjust-font-size-to(24px);
	}
	p {
		margin-bottom: 14px;
		&.last {
			margin-bottom: 0;
		}
	}
	p.intro {
		@include adjust-font-size-to(18px);
		font-style: italic;
	}
	a {
		color: $link-color;
	}
}

nav {
	position: absolute;
	width: 100%;
	height: 30px;
	bottom: 0;
	background: $pager-bg;
	a {
		position: relative;
		display: inline-block;
		width: 30px;
		height: 30px;
		color: $pager-txt;
		text-align: center;
		cursor: pointer;
		@include transition(background 250ms);
		&.active {
			background: rgba(0, 0, 0, .1);
		}
		&:before {
			background: #000;
			color: #fff;
			content: attr(title);
			position: absolute;
			display: block;
			height: 30px;
			padding: 0 10px;
			line-height: 30px;
			left: 0;
			opacity: 0;
			display: none;
			white-space: nowrap;
			@include transform-origin(0px 0px 0);
			@include transform(rotate(-90deg));
			@include transition(opacity 250ms);
		}
		&:hover {
			&:before {
				display: block;
				opacity: 1;
			}
		}
	}
}